<!-- Column of meetups -->

    <div uib-dropdown>
      <label for="text">Topic</label>
      <input type="text" name="text" ng-model="text" placeholder="i.e. Tech" id="simple-dropdown" uib-dropdown-toggle>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="topic in topics">
            <a ng-click="bindTopic(topic)">{{topic}}</a>
          </li>
        </ul>
      <button ng-click="submitCity()">Submit</button>
    </div>

    <div ng-repeat="meetup in meetups">
      <div class="meetup-group-name">{{meetup.group.name}}</div>
      <div><a class="meetup-name" ng-href="{{meetup.event_url}}">{{meetup.name}}</a></div>
      <div class="attendee-count">Going: {{meetup.yes_rsvp_count}}</div>
      <!-- <div>{{meetup.venue.name}}</div> -->
      <hr>
    </div>


