
<div ng-controller="ParentCtrl">
  <div class="header">
  <h1>This Week</h1>
  <p>Find meetups happening within 
  <input name="radius" type="text" ng-model="radius" value="5"> miles of 
  <input name="zip" type="text" ng-model="zip">
  </p>
    <!-- Make this section into a service or factory and import that into the column controllers -->
        <!-- <label for="zip">Zip</label>
        <input name="zip" type="text" ng-model="zip">
        <label for="radius">Within</label>
        <input name="radius" type="text" ng-model="radius" value="5"> miles -->
   </div> 

  <div class="columns">
    <div class="row">
      <!-- <div ng-include="'app/views/header.html'"></div> -->
      <div ng-swipe-left="swipe()">
        <!-- add CTRL for column 1 -->
        <div class="col-sm-4" ng-show="!showMe" ng-controller="ColumnOneCtrl" ng-include="'app/views/column.html'"></div>
        <!-- add CTRL for column 2 -->
        <div class="col-sm-4 hidden-xs" ng-show="!showMe" ng-controller="ColumnTwoCtrl" ng-include="'app/views/column.html'"></div>
        <!-- add CTRL for column 3 -->
        <div class="col-sm-4 hidden-xs" ng-show="!showMe" ng-controller="ColumnThreeCtrl" ng-include="'app/views/column.html'"></div>
    <!-- add "hidden-xs" as a class to make it disappear when the screen is small -->
      </div>

      <div ng-swipe-right="swipe()">
        <div class="col-sm-4" ng-hide="showMore" ng-controller="ColumnFourCtrl" ng-include="'app/views/column.html'"></div>
        <!-- delete this column below. It's just there to show you it's working -->
        <div class="col-sm-4" ng-hide="showMore" ng-controller="ColumnFiveCtrl" ng-include="'app/views/column.html'"></div>
      </div>
     </div> 
  </div>
</div>



<!-- Example -->
<!-- <div ng-show="!showActions" ng-swipe-left="someFunction()">
    Some list content, like an email in the inbox
  </div>

  <div ng-show="showActions" ng-swipe-right="someFunction()">
    <button ng-click="reply()">Reply</button>
    <button ng-click="delete()">Delete</button>
  </div> -->




<!-- Example to test if Angular UI Bootstrap is working -->
<!--   <h4>Single toggle</h4>
    <pre>{{singleModel}}</pre>
    <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Single Toggle
    </button>
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>{{1 + 1}}</li>
        <li>Something cool</li>
      </ul>
    </span> -->

