<!-- This code will display on screens 767px wide and smaller -->
<!-- You see one column. Swipe left/right to see next column. 6 total columns -->
<div ng-controller="ParentCtrl" class="hidden-md">
  <div ng-swipe-right="nextCol()" ng-swipe-left="prevCol()">
    <div class="header">
      <div class="header-text"> 
        <h1>Meetups for every part of your&nbsp;life</h1>
        <h2>Search and swipe to see what's going on this&nbsp;week</h2>
      </div>
     </div> 

  <!-- Swiping feature based on: 
  http://onehungrymind.com/build-sweet-photo-slider-angularjs-animate/
  and
  http://onehungrymind.com/build-sweet-angularjs-photo-slider-pt-2-ngtouch/ -->
    <div>
        <a href="#" ng-click="nextCol()"><i class="material-icons block left-arrow">&#xE5C4;</i></a>
        <span class="block column-counter">{{currentIndex + 1}} / 6</span>
        <a href="#" ng-click="prevCol()"><i class="material-icons block right-arrow">&#xE5C8;</i></a>

        <div ng-repeat="col in cols" class="" ng-hide="!isCurrentIndex($index)" ng-include="col.content"></div>

        <ul>
          <li ng-repeat="col in cols">
            <div ng-class="{'active':isCurrentIndex($index)}" ng-click="setCurrentIndex($index)"></div>
          </li>
        </ul>
    </div>
  </div>
</div> 


<!-- This code will be displayed on screens 768px and larger) -->
<!-- At first, you see three columns. Swipe right and you see another 3 columns -->

<div ng-controller="ParentCtrl" class="hidden-xs">
  <div ng-swipe-left="swipe()" ng-swipe-right="swipe()">
  <div class="header">
    <div class="header-text"> 
      <h1>Meetups for every part of your&nbsp;life</h1>
      <h2>Search and swipe to see what's going on this&nbsp;week</h2>
    </div>
  </div> 

  <div>
    <a href="#" ng-click="swipe()"><i class="arrow prev material-icons">&#xE5C4;</i></a>
    <a href="#" ng-click="swipe()"><i class="arrow next material-icons">&#xE5C8;</i></a>
  </div>

  <div class="columns">
    <div class="row">

        <div class="col-sm-4" ng-show="!showMe" ng-controller="ColumnOneCtrl" ng-include="'app/views/column.html'"></div>

        <div class="col-sm-4 hidden-xs" ng-show="!showMe" ng-controller="ColumnTwoCtrl" ng-include="'app/views/column.html'"></div>

        <div class="col-sm-4 hidden-xs" ng-show="!showMe" ng-controller="ColumnThreeCtrl" ng-include="'app/views/column.html'"></div>
        </div>

      <div class="row">
        <div class="col-sm-4" ng-hide="showMore" ng-controller="ColumnFourCtrl" ng-include="'app/views/column.html'"></div>

        <div class="col-sm-4" ng-hide="showMore" ng-controller="ColumnFiveCtrl" ng-include="'app/views/column.html'"></div>

        <div class="col-sm-4" ng-hide="showMore" ng-controller="ColumnSixCtrl" ng-include="'app/views/column.html'"></div>
      </div>
    </div> 
  </div>
</div>
