body {
  background-color: #fafafa;
}

.column {
  background-color: white;
  margin-top: 20px;
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
}

.topic-label {
  font-size: 16px;
}

.topic-field {
  width: 300px;
  height: 37px;
  font-size: 17px;
}


.search {
  background-color: #ed1c40;
  border-radius: 95%;
  box-shadow:    2px 2px 0 0 #cdc2c2;
  color:         #fff;
  display:       inline-block;
  padding:       8px 11px;
  text-align:    center;
  /*text-shadow:   1px 1px 0 #000;*/
}

.search:focus, .search:hover, .search:active, .search.active, .search:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: 2px 2px 0 0 #cdc2c2;
  color: #fff;
}

.event {
  padding: 10px;
  border: 1px solid lightgray;
}

a, a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.meetup-group-name {
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -.02em;
  word-spacing: .1em;
}

.meetup-name {
  color: black;
  font-size: 21px;
  line-height: 1.25;
  font-weight: 500;   
  letter-spacing: -.02em;
}

.attendee-count {
  font-size: 15px;
  color: rgba(0,0,0,.54);
  /*font-weight: 100;*/
}