.container-fluid {
     padding:0;
}

body {
  /*background-color: #fafafa;*/
}

.header {
  height: 200px;
  background-color: #ed1c40;
  color: white;
  text-align: center;
  position: relative;
  border-radius: 5px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-37%, -50%);
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

.columns {
  background-color: #fafafa;
  height: 600px;
}

.column {
  background-color: white;
  margin-top: 20px;
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
}

.enter-topic {
  background-color: black;
  text-align: center;
  margin: 5px 10px;
  border-radius: 5px;
}

.topic-label {
  font-size: 16px;
}

.topic-field {
  width: 190px;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  margin: 10px 0px 10px 10px;
}

.search {
  /*background-color: #ed1c40;*/
  /*border-radius: 95%;*/
  /*box-shadow:    2px 2px 0 0 #cdc2c2;*/
  /*color:         #fff;*/
  /*display:       inline-block;*/
  /*padding:       8px 11px;*/
  /*text-align:    center;*/
  /*text-shadow:   1px 1px 0 #000;*/
  background: none;
  border: none;
  padding: 0;
  position: relative;
  left: -30px;

}

.search:focus, .search:hover, .search:active, .search.active, .search:focus:active {
  /*background-image: none;
  outline: none;
  -webkit-box-shadow: none;*/
  /*box-shadow: 2px 2px 0 0 #cdc2c2;*/
  /*color: #fff;*/
  color: #ed1c40;
  outline: none;
}



.dropdown-menu {

}


.location-area {
  display: inline-block;
  position: relative;
  left: -4px;
}

.radius {
  color: white;
  width: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  margin-left: 3px;
}

.radius:hover, .radius:active, .radius:focus, .zip:hover, .zip:active, .zip:focus {
  border-color: #ed1c40;
}

.zip {
  color: white;
  width: 45px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  margin-left: 3px;
}

.white-text {
  color: white;
}

.event {
  padding: 10px;
  margin: 0px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

a, a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.meetup-group-name {
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -.02em;
  word-spacing: .1em;
}

.meetup-name {
  color: black;
  font-size: 21px;
  line-height: 1.25;
  font-weight: 500;   
  letter-spacing: -.02em;
}

.attendee-count {
  font-size: 15px;
  color: rgba(0,0,0,.54);
  /*font-weight: 100;*/
}

@media (max-width: 392px) {
/*  .enter-topic {
    text-align: center;
  }*/
}

/* Extra small screens */
@media (max-width: 576px) {

/*.header {
  height: 200px;
  background-color: #ed1c40;
  color: white;
  text-align: center;
  position: relative;
}*/

.header-text {
/*  position: absolute;
  top: 50%;*/
  left: 20%;
  transform: translate(-13%, -50%);
}

h1 {
  font-size: 30px;
  /*text-align: center;*/
}

h2 {
  font-size: 12px;
}

.topic-field {
  width: 150px;
}

}

/* Small screens */
@media (min-width: 577px) and (max-width: 768px) {

}

/* Medium screens */
@media (min-width: 769px) and (max-width: 992px) {

}

/* Large screens */
@media (min-width: 993px) and (max-width: 1200px) {

}

/* Extra large screens */
@media (min-width: 1201px) {

}