body {
  background-color: #fafafa;
}

.column {
  background-color: white;
  margin-top: 20px;
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
}

.topic-label {
  font-size: 16px;
}

.topic-field {
  width: 300px;
  height: 37px;
  font-size: 17px;
}

.event {
  padding: 10px;
  border: 1px solid lightgray;
}

a, a:active, a:hover, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.meetup-group-name {
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -.02em;
  word-spacing: .1em;
}

.meetup-name {
  color: black;
  font-size: 21px;
  line-height: 1.25;
  font-weight: 500;   
  letter-spacing: -.02em;
}

.attendee-count {
  font-size: 15px;
  color: rgba(0,0,0,.54);
  /*font-weight: 100;*/
}